name: GitHub Classroom Workflow

on: [push]

jobs:
  build:
    name: Autograding
    runs-on: ubuntu-latest
    permissions:
      checks: write
      actions: read
      contents: read
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.19'
      
      # The official autograding action uses .github/classroom/autograding.json
      # to run tests and calculate points.
      - uses: education/autograding@v1
